p

{
    
    color:blue;
}

h1

{

font-size: 1.5em

}

div

{
    font-family: Impact, Arial, Verdana, sans-serif

}

h2

{
    font-style: oblique

}

h1 
{
    font-weight: bold

}

div

{
    text-align: center

}

.imageflottante
{
    float: left;
}
.dessous
{
    clear: both;
}

h1

{
    color:brown
}
body
{
    background-image: url(images/C.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:top right
}

mark
{
    background-color:red
}

body
{background-color: darkorange;
opacity: 0.6
}